body {
  background-color: #1a1a1d !important;
  color: white;
}

.item {
  height: 100% !important;
}

.home {
  position: relative;
  bottom: 5px;
}

.-btn {
  background-color: #6f2232 !important;
}