body {
  background-color: #D0D8CD;
}

.inverted {
  border-radius: 0 !important;
  background-color: #586180 !important;
  height: 20px;
}

.item {
  height: 100% !important;
}

.home {
  position: relative;
  bottom: 5px;
}